# Mac OS X
.DS_Store

# Editors
*~
*.swp

# direnv
.direnv/

# Meson
/build
/dist

# Nix
result*

# Flatpak
flatpak-repo
flatpak-build
.flatpak-builder
flatpak-cruft
flatpak-data
MAR1D.flatpak

# zig
zig-out/
zig-cache/
