<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MAR1D - $title$</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="contents">
            <div class="container">
                <a href="/" class="box"> <h1>MAR1D</h1> </a>
            </div>
            <hr />
            <div class="container">
                <a href="/source" class="box" target="_blank"> Source <img class="inline" src="/static/external_link.svg"> </a>
                <a href="/downloads" class="box">              Download                                             </a>
                <a href="/explanation" class="box">            Huh‽                                                 </a>
                <a href="/team" class="box">                Team                                              </a>
            </div>
            $body$
        </div>
    </div>
</body>

</html>
