@mixin plain_link {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  background: url(/static/background.png) repeat;
  background-size: 32px;
  font-family: "OPTIVagRound";
  -webkit-text-size-adjust: 100%;
}

.contents {
  margin: 10px;
  width: 100%;
  background-color: lightblue;
  padding: 10px;
  height: 100%;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
}

/*
 * Always have a container-outer and (at least one) container-inner.
 * Having more than one container-inner specifies where line breaks are
 * preferred. (between container-inners rather than inside one)
 */
.container-outer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  // ideally this shouldn't turn off outer wrapping altogether, just prefer inner wrapping
  &.wrap-inner {
    flex-wrap: nowrap;
  }
  > .container-inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
  }
}

@font-face {
  font-family: "Emulogic";
  src: url(/static/Emulogic.ttf);
}

@font-face {
  font-family: "Typewriter";
  src: url(/static/typewriter.ttf);
}

@font-face {
  font-family: "OPTIVagRound";
  src: url(/static/OPTIVagRound-Bold.otf);
}

.box {
  background-color: #C84C0C;
  display: inline-block;
  padding: 2px 15px;
  margin: 2px;
  border: inset;
  border-color: #FCBCB0;
  border-width: 4px;
  border-style: outset;
}

a.box {
  @include plain_link;
  &:hover {
    border-style: inset;
  }
}

h1 {
  font-family: Emulogic;
}

h2 {
  font-size: 1.2em;
}

.logo {
  text-align: center;
  margin: 3px;
  img {
    width: 100px;
  }
}

a.logo {
  @include plain_link;
}

img.inline {
  width: 0.8em;
  display: inline;
  margin: 0 2px;
}

.footer {
  font-weight: lighter;
  font-size: 0.8em;
}

figcaption {
  font-weight: lighter;
  font-size: 0.6em;
}


.huh {

  padding: 3px;

  .q {
    cursor: pointer;
    display: inline;
    // triangle pointer
    // ideally, this would be input::after, but firefox doesn't like that
    &::before {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 0.15em;
      margin: 2px;
      content: '';
    }
  }

  input {
    // accessible alternative to
    // display: none;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;

    // when unselected, triangle points to the right
    & ~ .q::before {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    // when selected, triangle points down
    &:checked ~ .q::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    // answer is hidden until the question is clicked
    & ~ div.a {
      margin-left: 1em;
      // accessible alternative to
      // display: none;
      // visibility: hidden;
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    &:checked ~ div.a {
      // accessible alternative to
      // display: block;
      // visibility: visible;
      position: relative;
      top: 0px;
      left: 0px;
    }
  }
}

figure {
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 650px) {
  body {
    background-size: 128px;
  }
  .contents {
    margin-top: 100px;
    width: 550px;
    padding: 50px;
    border-width: 5px;
  }
  .box {
    padding: 2px 25px;
    border-width: 5px;
  }
  figure {
    width: inherit;
    margin: inherit;
  }
}
