@mixin plain_link {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  background: url(/static/super-mario-bros.jpg) repeat;
}

.contents {
  margin-top: 100px;
  width: 550px;
  background-color: lightblue;
  padding: 50px;
  height: 100%;
  border-style: outset;
  border-color: grey;
  border-width: 5px;
  font-family: "OPTIVagRound";
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

@font-face {
  font-family: "Emulogic";
  src: url(/static/Emulogic.ttf);
}

@font-face {
  font-family: "Typewriter";
  src: url(/static/typewriter.ttf);
}

@font-face {
  font-family: "OPTIVagRound";
  src: url(/static/OPTIVagRound-Bold.otf);
}

.box {
  background-color: #C84C0C;
  display: inline-block;
  padding: 2px 25px;
  margin: 2px;
  border: inset;
  border-color: #FCBCB0;
  border-width: 5px;
  border-style: outset;
}

a.box {
  @include plain_link;
  &:hover {
    border-style: inset;
  }
}

h1 {
  font-family: Emulogic;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

.logo {
  text-align: center;
  img {
    width: 100px;
  }
}

a.logo {
  @include plain_link;
}

img.inline {
  width: 0.8em;
  display: inline;
  margin: 0 2px;
}



.huh {

  padding: 3px;

  input {
    display:none;

    // triangle pointer
    & + .tri-toggle {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 0.2em;
      margin: 2px;
    }

    // when unselected, it points to the right
    & + .tri-toggle {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    // when selected, it points down
    &:checked + .tri-toggle {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    & ~ .q {
      font-size: 1.2em;
    }

    // answer is hidden until the question is clicked
    & ~ div.a {
      margin-left: 1em;
      display: none;
      visibility: hidden;
    }

    &:checked ~ div.a {
      display: block;
      visibility: visible;
    }
  }
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
