@mixin plain_link {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  background: url(/static/background.png) repeat;
  background-size: 32px;
  font-family: "OPTIVagRound";
  font-size: 0.9em;
}

.contents {
  margin: 0px;
  margin-top: 10px;
  width: 100%;
  background-color: lightblue;
  padding: 10px;
  height: 100%;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  // manual breaks in the right places
  > br {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
    height: 0;
    margin: 0;
    content: '';
  }
}

@font-face {
  font-family: "Emulogic";
  src: url(/static/Emulogic.ttf);
}

@font-face {
  font-family: "Typewriter";
  src: url(/static/typewriter.ttf);
}

@font-face {
  font-family: "OPTIVagRound";
  src: url(/static/OPTIVagRound-Bold.otf);
}

.box {
  background-color: #C84C0C;
  display: inline-block;
  padding: 2px 15px;
  margin: 2px;
  border: inset;
  border-color: #FCBCB0;
  border-width: 4px;
  border-style: outset;
}

a.box {
  @include plain_link;
  &:hover {
    border-style: inset;
  }
}

h1 {
  font-family: Emulogic;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

.logo {
  text-align: center;
  img {
    width: 100px;
  }
}

a.logo {
  @include plain_link;
}

img.inline {
  width: 0.8em;
  display: inline;
  margin: 0 2px;
}

.footer {
  font-weight: lighter;
  font-size: 0.8em;
}

figcaption {
  font-weight: lighter;
  font-size: 0.6em;
}


.huh {

  padding: 3px;

  input {
    display:none;

    // triangle pointer
    & + .tri-toggle {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 0.2em;
      margin: 2px;
    }

    // when unselected, it points to the right
    & + .tri-toggle {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    // when selected, it points down
    &:checked + .tri-toggle {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    & ~ .q {
      font-weight: bold;
      font-size: 1.2em;
    }

    // answer is hidden until the question is clicked
    & ~ div.a {
      margin-left: 1em;
      display: none;
      visibility: hidden;
    }

    &:checked ~ div.a {
      display: block;
      visibility: visible;
    }
  }
}

figure {
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 1em;
    background-size: 128px;
  }
  .contents {
    margin-top: 100px;
    width: 550px;
    padding: 50px;
    border-width: 5px;
  }
  .container {
    > br {
      display: none;
    }
  }
  .box {
    padding: 2px 25px;
    border-width: 5px;
  }
  figure {
    width: inherit;
    margin: inherit;
  }
}
